<mat-card appearance="outlined">
  <div class="contactdetails">
    <div class="icon-column">
      <img src="assets/icons/find-us.svg" alt="Find us">
    </div>
    <div class="info-column">
      <h5>Find us</h5>
      <small id="address">123 Fake Street, Someplace, Nottingham, NG1 2TR</small>
      <a mat-button
         href="https://www.google.com/maps/search/?api=1&query=123+Fake+Street,+Someplace,+Nottingham,+NG1+2TR"
         target="_blank">
        Open in Maps
      </a>
    </div>
  </div>
</mat-card>
