:host {
  display: block;
  width: 453px; /* force fixed width */
  height: 206px; /* force fixed height  */
}

mat-card {
  width: 100%; /* Ensures mat-card fills its parent */
  height: 100%;
  padding: 0;
}
