@use '../../styles/_variables' as *;

.custom-table {
  background-color: $mab-primary-light; // Applies the primary light background to the table
}
th.custom-header {
  background-color: $mab-secondary-light;
}

.custom-header {
  background-color: $mab-secondary-light; 
  height: 88px; // Sets the fixed header height
  line-height: 88px; // Centers the header text vertically
  padding: 0 16px; // Optional: adjust horizontal spacing
  margin: 0; // Remove any default margin if necessary
}
.main-column-style {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0px;
}
.position-column-style {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.25px;
}
.player-search {
  background-color: $mab-secondary-light;
  width: 200px;
  display: inline-block;
}
.cup-icon {
  height: auto;
  vertical-align: middle; /* Aligns it to the text */
  position: relative;
  margin-left:5px;
}
.search-container {
  position: relative;
}

.player-search {
  opacity: 0;
  padding:5px;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, max-height 0.3s ease;
  margin-top: 10px;
  width: 100%;
  background-color: $mab-primary-light;
}

.player-header:hover ~ .player-search,
.search-container:hover .player-search {
  opacity: 1;
  max-height: 60px;
  transform: translateY(0); /* Slide down smoothly */
}

