
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './styles/_variables' as *;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  width: 100%; /* Ensures mat-card fills its parent */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.info-card > mat-card {
  background-color: $mab-primary-light;
  border: 1px solid $mab-secondary-light;
}
.result-card > mat-card {
  background-color: $mab-primary-light;
  border: 1px solid $mab-secondary-light;
}

.contactdetails {
  display: flex;
  align-items: flex-start;
  width: auto;
  height: 87.35px;
  margin-top: 37.23px;
  margin-left: 30px;
}
.icon-column {
  width: 34px; /* Fixed width for the icon column */
  flex-shrink: 0; /* Prevent the column from shrinking */
  margin-right: 12px; /* Optional: add gap between the icon and info */
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


h3 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.25px;
  margin-bottom: 15px;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.5px;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0px;
}
small {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  letter-spacing: 0px;
}
a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0;
  text-decoration-thickness: 0;
}

// these header styles need to go here, dont work in component
.mat-sort-header-arrow {
  display: none !important;
}

.mat-sort-header {
  align-items: center;
  position: relative;
}

.mat-sort-header-content {
  display: inline-flex !important;
  align-items: center;
  gap: 10px;
}

.mat-sort-header-content::after {
  content: "";
  display: inline-block; /* Stay next to text */
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid black;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

// material has 3 sort states
.mat-sort-header[aria-sort="ascending"] .mat-sort-header-content::after {
  opacity: 1;
  transform: rotate(180deg); /* Triangle up */
}

.mat-sort-header[aria-sort="descending"] .mat-sort-header-content::after {
  opacity: 1;
  transform: rotate(0deg); /* Triangle down */
}

/* Hide triangle */
.mat-sort-header:not([aria-sort]) .mat-sort-header-content::after {
  opacity: 0;
}

